<a href="https://colab.research.google.com/github/SumaiyaRahman/Data-Structure-Assignment/blob/master/Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a program to read 5 numbers from keyboard and find their sum and average.
sum=0
n=int(input("enter time appears: "))
list1=[]
for i in range(0,n):
  y=int(input())
  list1.append(y)
  sum=sum+y
print(sum)

enter time appears: 4
1
2
3
1
7

In [ ]:
# Write a for loop which appends the square of each number to the new list.

list1=[100,2,3,5]
list2=[]
for i in list1:
  y=i**2
  list2.append(y)
print(list2)

[10000, 4, 9, 25]

In [ ]:
'''Write a program to print the following number pattern using a loop.

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5  '''
for i in range (6):
  for j in range (1,i+1):
      print(j,end=' ')
      #print("**")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
'''Write a Python program to count the number of even and odd numbers from a series of numbers.
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
Expected Output :
Number of even numbers : 4
Number of odd numbers : 5'''
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
even=0
odd=0
for i in numbers:
  if i%2==0:
    even=even+1
  else:
    odd=odd+1
print(odd)
print(even)

5
4

In [ ]:
#Write a Python program that prints all the numbers from 0 to 6 except 3 and 6
for i in range (7):
  if i==3 or i==6:
      continue
  else:
    print(i)

0
1
2
4
5

In [ ]:
'''Write a Python program that accepts a string and calculate the number of digits and letters.
Sample Data : Python 3.2
Expected Output :
Letters 6
Digits 2'''
s='Python 3.2'

2
6

In [ ]:
# Write a program to find if the number is prime.
x=int(input())

5
Prime

In [ ]:
# Find the factorial of a given number
x=int(input())
y=1
for i in range (1,x+1):
    y=i*y
print(y)

3
6

In [ ]:
# Write a program that prints all even squres between 1 and n.
# example: n=100     Program prints: 4,16,36,64,100

x=int(input())
list1=[]
for i in range (x):
  if i>0:
    if i%2==0:
      y=i**2
      if y>x:
        break
      list1.append(y)
print(list1)

100
[4, 16, 36, 64, 100]